/* Reset básico para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

.flash-messages {
    list-style-type: none;
    padding: 10px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    color: #721c24;
    margin-bottom: 20px;
}

.flash-messages li {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-section {
    margin-bottom: 20px;
}

.label-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="number"], input[type="time"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="radio"] {
    margin-right: 10px;
}

.radio-group {
    display: flex;
    flex-direction: column;
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 20px;
}

.submit-btn:hover {
    background-color: #45a049;
}

/* Adiciona um espaçamento adequado entre blocos de resposta */
.form-section {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.meus-resultados-btn {
    display: block;
    margin: 20px auto; /* Centraliza o botão */
    padding: 10px 20px;
    background-color: #4CAF50; /* Cor de fundo verde */
    color: white;
    border: none;
    border-radius: 8px; /* Cantos arredondados */
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.meus-resultados-btn:hover {
    background-color: #45a049; /* Cor ao passar o mouse */
}

.graph-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
}

.graph-btn:hover {
    background-color: #45a049;
}

.legend-section {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.legend-section p {
    font-style: italic;
}
